# === Project Data & Outputs ===
HipMRI_study_complete_release_v1/
wandb/
prostate_UNet3D_Qilin_He_48018155_hpc/
environment.yml
*.nii
*.nii.gz
*.npz
*.npy

# === Python Cache & Environment ===
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.swp
.env/
.venv/
.vscode/